{
    "passPerPreset": true,
    "presets": [
        {
            "plugins": [
                "babel-relay-plugin-loader"
            ]
        },
        "react",
        "es2015",
        "stage-0"
    ]
}
