extends layout

block content
  section#simple

  script#template(type="text/ractive")
    .row
      .columns
        h1 Ny tid

    form
      .row
        .columns
          label Prosjekt
          select
            option Prosjekt1
            option Prosjekt2
      .row
        .columns.medium-3
          label Dato
          input#date(type="date" value="{{date}}")
        .columns.medium-3.small-4
          label Start
          input#start.timepicker(type="time" step="900")
        .columns.medium-3.small-4
          label End
          input#end.timepicker(type="time" step="900")
        .columns.medium-3.small-4
          label Duration
          input#duration(type="number" step="0.25" value="{{duration}}")
        .columns
          label Kommentar
          textarea#comment
      .row
        .columns
          button Lagre

block javascript
  script
    | require('s7n').tracker.simple();
