extends layout

block content
  section#teams
    .row
      .columns
        h1 Teams

        ul
          each team in organizations
            li
              a(href="/teams/#{team._id}")= team.name

