@charset "UTF-8";

// our variables
@import "settings";

// normalize lib
@import "normalize";

// foundation lib
@import "foundation";

// font-awesome
@import "font-awesome";

// our styles
.button {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ie-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    border: none;
}
.button:hover {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.alert-box .close {
    padding-top: 0;
}

nav.top-bar {
    margin-bottom: 0.5rem;
}

nav a:hover {
    text-decoration: none;
}

html {
    min-height: 100%;
}


.listair {
    padding: 0.625em 0;
}

tr.moved td {
    color: lighten($body-font-color, 50%);
}

.project {
    margin-bottom: rem-calc(10px);
    h2 {
        font-size: $h2-font-size - rem-calc(12px);
    }
    i {
        font-size: $base-font-size * 2;
    }
}

.datepicker-close {
    display: none;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.loader {
    position: absolute;
    left: calc(50% - 2.5em);
    top: calc(50% - 2.5em);
    color: #999;
}

#hours {
    .hours {
        margin-bottom: rem-calc(30px);
        h2 {
            font-size: $h2-font-size - rem-calc(12px);
            line-height: 1;
        }
        .button {
            margin-bottom: 2px;
        }
        .duration {
            font-size: $h2-font-size - rem-calc(12px);
            margin-top: 0.2rem;
            margin-bottom: 0.5rem;
            margin-right: 0.5rem;
        }
    }
}

#organizations {
    .organization {
        border: 1px solid #ddd;
        border-bottom: none;

        &:last-of-type {
            border-bottom: 1px solid #ddd;
        }
    }

    .name {
        border-bottom: 1px solid #ddd;
        background-color: #efefef;
    }

    .clients {
        margin-bottom: 0.4rem;
    }
    .project {
        margin-left: .5rem;
    }
}
